extends layout

block content
  h1= title
  p Welcome to About Payne Page
  pLorem ipsum dolor sit amet, consectetur adipiscing elit. In urna dolor, ultrices ac justo sit amet, placerat sollicitudin enim. Quisque dictum dictum urna, non sagittis libero accumsan ac. Phasellus sagittis sem non bibendum efficitur. Nunc arcu nisi, aliquam pretium velit eget, vulputate sodales libero. Mauris tellus odio, sagittis eget enim ultrices, mattis porttitor orci. Maecenas eu porta sapien, vitae interdum ante. Donec ut molestie nisl, sed vehicula tellus. Proin pellentesque odio eget volutpat bibendum. Vestibulum et vestibulum sapien. Maecenas volutpat ante nec mauris rutrum tempor. Aenean eget nibh nisi. In ligula enim, dapibus at nulla ac, pharetra posuere est. Duis molestie vulputate quam sit amet porta. Sed quis lacinia sem, non molestie neque.
  p  
 
   a(href="./form") Form
  img(src='/payne.jpg' alt='Smiley face')    