extends layout

block content
 h1=title
 p
    a(href="./") Index
 h2=message
 form.form-horizontal(action="/form", method="post", role="form")
        .form-group
          label.control-label(for="name") Name         
            input#name.form-control(name="author")  
        .form-group
          label.control-label(for="email") Email         
            input#name.form-control(name="email")
        .form-group
          label.control-label(for="comments") Comment        
            input#name.form-control(name="comments")        
        input(type="submit" value="Submit") 
